
@font-face {
	font-family: "Suisse Regular";
	src: url('../fonts/SuisseIntl-Regular.otf');
}

@font-face {
	font-family: "Suisse Bold";
	src: url('../fonts/SuisseIntl-Bold.otf');
}

@font-face {
	font-family: "Suisse Book";
	src: url('../fonts/SuisseIntl-Book.otf');
}

@font-face {
	font-family: "Suisse Medium";
	src: url('../fonts/SuisseIntl-Medium.otf');
}

@font-face {
	font-family: "Suisse light";
	src: url('../fonts/SuisseIntl-Light.otf');
}

@font-face {
	font-family: "emoji";
	src: url('../fonts/GoodGlyphs-No1.otf');
}




html *{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/*scroll bar css*/

::-webkit-scrollbar {
 display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
   display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 display: none;
}


body{
	scroll-behavior: smooth;
}

/*header section /////////*/
header{
	padding: 40px 110px 0px 110px;
	width: 96%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 999;
}

.header-nav-left{
	font-family: Suisse Bold;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.header-nav-left span{
	font-family: Suisse Regular;
}

.nav a{
	font-family: Suisse Light;
	font-weight: 300;
	font-size: 17px;
	line-height: 20px;
	/* identical to box height */
	margin-right: 50px;
	color: #FFFFFF;
}

.nav a:last-child{
	margin-right: 0px;
}
