/*header section /////////*/
header{
	padding: 40px 110px 0px 110px;
	width: 96%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 999;
}

.header-nav-left{
	font-family: Suisse Bold;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.header-nav-left span{
	font-family: Suisse Regular;
}

.nav a{
	font-family: Suisse Light;
	font-weight: 300;
	font-size: 17px;
	line-height: 20px;
	/* identical to box height */
	margin-right: 50px;
	color: #FFFFFF;
}

.nav a:last-child{
	margin-right: 0px;
}


/*home-hero ///////////*/
.home-hero{
	padding: 200px 110px 200px 110px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-hero p{
	font-family: Suisse Light;
	font-weight: 300;
	font-size: 80px;
	line-height: 120%;
	/* or 84px */
	color: #FFFFFF;
}

.home-hero span:nth-child(1){
	font-family: Suisse Regular;
}

.home-hero span:nth-child(2){
	box-shadow: inset 0 -40px 0 #4CFF89;
}

/*main ///////////////////////////*/
main{
}

/*video section*/
.video-home-hero{
	width: 100%;
	height: 80vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
}

.video-hero-container {
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;align-items: center;
	overflow: hidden;
}

.video-hero-container video{
	height: auto;
	width: 100%;
}

.video-home-hero img{
	width: 7%;
	transform: translateY(50%);
	bottom: 0;
	position: absolute;
}


/*text recent portfolio//////////////////////*/
.recent-portfolio-text{
	display: flex;
	padding: 0px 110px 200px 110px;
	width: 100%;
	justify-content: space-between;
	
}

.recent-title{
	font-family: Suisse Regular;
	font-weight: 300;
	font-size: 45px;
	line-height: 138.1%;
	color: #FFFFFF;
	width: 30%;
}

.recent-text{
	font-family: Suisse light;
	font-size: 22px;
	line-height: 160.1%;
	/* or 35px */
	color: #FFFFFF;
	width: 45%;
}


/*recent project ///////////////////////*/
.recent-project{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 110px 0px 110px;}

.box-content{
	width: 47%;
	margin-bottom: 70px;
}


.img-box-project{
	overflow: hidden;
	display: flex;justify-content: center;align-items: center;
	margin-bottom: 20px;
	width: 100%;
	height: 50vh;
	transition:0.5s ease;
}

.img-box-project:hover{
	transition:0.5s ease;
	transform: scale(0.95);
}

.img-box-project:hover img{
	transition:0.5s ease;
	transform: scale(1.1);
}

.img-box-project img{
	transition:0.5s ease;
	overflow: hidden;
	width: 100%;
	height: 100%;
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
}

.title-project{
	font-family: Suisse Light;
	font-weight: 300;
	font-size: 22px;
	line-height: 138.1%;
	/* or 33px */
	color: #FFFFFF;
}

.subtitle-project{
	font-family: Suisse Light;
	font-weight: 300;
	font-size: 22px;
	line-height: 138.1%;
	/* or 33px */
	color: #A0A0A0;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {

.home-hero p {
    font-family: Suisse Light;
    font-weight: 300;
    font-size: 100px;
    line-height: 120%;
    color: #FFFFFF;
}

.video-hero-container video {
    height: auto;
    width: 100%;
    transform: scale(3.5);
}

.video-home-hero img {
    width: 17%;
    transform: translateY(50%);
    bottom: 0;
    position: absolute;
}

.recent-portfolio-text {
	flex-direction: column;
}



.recent-title {
	width: 100%;
	font-size: 75px;
    margin-bottom: 100px;

}
.recent-text{
	width: 100%;
	font-size: 45px;
}

.recent-project{
	flex-direction: column;
}

.box-content{
	width: 100%;
	margin-bottom: 100px;
}

.title-project {
    font-family: Suisse Light;
    font-weight: 300;
    font-size: 40px;
    line-height: 138.1%;
    color: #FFFFFF;
}

.subtitle-project {
    font-size: 40px;
}



}




